* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.screen-container {
    background-color: rgb(55, 123, 184);
    width: 100vw;
    height: 100vh;
    contain: content;
}

.bridge {
    height: 100vh;
    width: auto;

    /* place in middle of x axis */
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.bridge-pillar {
    height: 100vh;
    width: auto;
    position: absolute;
}

.car {
    width: 4vw;
    height: auto;
    position: absolute;
}

.character {
    contain: layout;
    position: absolute;
    bottom: 5vh;
}
.head {
    background-color: blue;
    width: 2vw;
    height: 2vw;
}
.body {
    background-color: blueviolet;
    width: 2vw;
    height: 2vw;
}
.legs {
    background-color: brown;
    width: 2vw;
    height: 2vw;
}

#failCountText {
    position: absolute;
    top: 2vmin;
    left: 2vmin;
}