.aka-sign {
    left: 2vw;
}
.school-sign {
    right: 2vw;
}
.bridge-sign {
    top: 5vh;
    transform: rotate(90deg);
}
.home-sign {
    bottom: 5vh;
    transform: rotate(-90deg);
} 

.middle-pathway {
    width: 13vw;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.vertical-pathway {
    width: 13vw;
    height: auto;

    /* place in the middle of the X axis */
    position: absolute;
    left: 50%;
    transform: translate(-50%,0); 
}
.horizontal-pathway {
    height: 13vw;
    width: auto;

    /* place in the middle of the Y axis */
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}


/* tree */
.tree {
    position: absolute;
    width: 12vw;
    height: auto;
    left: 23vw;
    top: 2vh;
}