* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backdrop-image {
    width: 98vw;
    height: auto;
}

.body-container {
    display: flex;
    flex-direction: row;
}

/* .start-game-button {

} */


.customization-window {
    background-color: rgb(194, 194, 194);
    width: 28vw;
    height: 84vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-top: 5vh;
    margin-left: 2vw;
    contain: layout;
    display: flex;
    flex-direction: column;
}

.customization-window > p {
    margin-top: 4vh;
    margin-left: 2vw;
}

.choose-color,.choose-ovve-color,.choose-name {
    margin-top: 1vh;
    margin-left: 2vw;
}
.choose-ovve-color,.choose-name {
    width: 12vw;
}

.submit-changes-button,.start-game-button {
    width: 8vw;
    height: 4vh;
    margin-left: 2vw;
}

.submit-changes-button {
    margin-top: 10vh;
}

.start-game-button {
    margin-top: 3vh;
}

.character-window {
    background-color: rgb(132, 215, 215);
    margin-top: 5vh;
    width: 62vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
}

.jth-icon,.comm-icon1,.comm-icon2,.teach-icon,.health-icon,.jibs-icon,.qult-icon {
    display: none;
}

.rotate-animation {
    animation-name: rotateanimation;
    animation-duration: 1s;
}
.fade-animation {
    animation-name: fadeinanimation;
    animation-duration: 1s;
}
.jibs-animation {
    animation-name: jibsanimation;
    animation-duration: 1s;
}
.qult-animation {
    animation-name: qultanimation;
    animation-duration: 1s;
}


.jth-icon {
    margin-bottom: 3vh;
    width: 5vw;
    height: 5vw;
}
.comm-icon1 {
    width: 5vw;
    height: auto;
    
}
.comm-icon2 {
    width: 3vw;
    height: auto;
    margin-bottom: 3vh;
}
.teach-icon {
    width: 5vw;
    height: auto;
    margin-bottom: 3vh;
}
.health-icon {
    width: 5vw;
    height: auto;
    margin-bottom: 3vh;
}
.jibs-icon {
    width: 5vw;
    height: auto;
    margin-bottom: 3vh;
    
}
.qult-icon {
    width: 12vw;
    height: auto;
    margin-bottom: 3vh;
    
}

@keyframes rotateanimation {
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}
@keyframes fadeinanimation {
    from {opacity: 0;}
    to {opacity: 100;}
}
@keyframes jibsanimation {
    from {margin-bottom: 7vh;}
    to {margin-bottom: 3vh;}
}
@keyframes qultanimation {
    from {
        margin-right: 20vw;
    }
    to {
        margin-right: 0;
    }
}

.stage {
    /* gradient made with https://cssgradient.io */
    background: linear-gradient(90deg, rgba(77,77,77,1) 0%, rgba(32,32,32,1) 35%, rgba(32,32,32,1) 65%, rgba(77,77,77,1) 100%);
    opacity: 70%;

    width: 8vw;
    height: 5vh;
    border-radius: 50%;
}

.character-name {
    position: absolute;
    bottom: 8vh;
    left: 38vw;
}

.character {
    contain: layout;
}

.head {
    background-color: rgb(218, 192, 165);
    width: 6vw;
    height: 5.5vw;
    border-radius: 50%;
    contain: layout;
}
.hair {
    background-color: rgb(226, 209, 114);
    width: 6vw;
    height: 2vh;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}   
.eyes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vh;
    gap: 0.5vw;
    contain: layout;
}

.pupil-axis {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    transform: rotate(20deg);
}


.right-eye,.left-eye {
    background-color: white;
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pupil {
    background-color: black;
    border-radius: 50%;
    width: 0.5vw;
    height: 0.5vw;
}
.mouth {
    background-color: black;
    width: 2vw;
    height: 0.2vh;
    margin-left: 2vw;
    margin-top: 1vh;
}

.body {
    display: flex;
    flex-direction: row;
}

.right-arm {
    background-color: blue;
    width: 1vw;
    height: 3vw;
    transform: rotate(10deg);
}
.left-arm {
    background-color: blue;
    width: 1vw;
    height: 3vw;
    transform: rotate(-10deg);
}
.torso {
    background-color: aqua;
    width: 4vw;
    height: 3vw;
}

.legs {
    display: flex;
    flex-direction: row;
}
.right-leg {
    background-color: blueviolet;
    margin-left: 1vw;
    width: 1.8vw;
    height: 2vw;
}
.left-leg {
    background-color: blueviolet;
    margin-left: 0.4vw;
    width: 1.8vw;
    height: 2vw;
}