/* remove padding and margin for everything by default */
* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace; /* font: courier new (by default) */
}

.pathway {
    background-image: url("glyphs/Pathway.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    position: absolute;
}

.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backdrop {
    /* the following four lines were taken from https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size */
    background-image: url("backdrops/intersection.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 52.66%;

    width: 96%;
    height: 0;
    contain: content;
}
.pathway1 {
    position: absolute;
    width: 100vw;
    height: 16vh;
    top: 43vh;
}
.pathway2 {
    position: absolute;
    width: 16vh;
    height: 97vh;
    top: 0;
    left: 55.5vw;
}
.body-container {
    display: flex;
    flex-direction: row;
}

.customization-window {
    background-color: rgb(194, 194, 194);
    width: 28vw;
    height: 84vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-top: 5vh;
    margin-left: 2vw;
    contain: layout;
    display: flex;
    flex-direction: column;
}

.customization-window > p {
    margin-top: 4vh;
    margin-left: 2vw;
}

.choose-color,.choose-ovve-color,.choose-name {
    margin-top: 1vh;
    margin-left: 2vw;
}
.choose-ovve-color,.choose-name {
    width: 12vw;
}

.submit-changes-button,.start-game-button {
    width: 8vw;
    height: 4vh;
    margin-left: 2vw;
}

.submit-changes-button {
    margin-top: 10vh;
}

.start-game-button {
    margin-top: 3vh;
}

.character-window {
    background-color: rgb(132, 215, 215);
    margin-top: 5vh;
    width: 62vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
}

.rotate-animation {
    animation-name: rotateanimation;
    animation-duration: 1s;
}
.fade-animation {
    animation-name: fadeinanimation;
    animation-duration: 1s;
}
.jibs-animation {
    animation-name: jibsanimation;
    animation-duration: 1s;
}
.qult-animation {
    animation-name: qultanimation;
    animation-duration: 1s;
}
.jth-icon,.comm-icon1,.comm-icon2,.teach-icon,.health-icon,.jibs-icon,.qult-icon { /* all icons */
    height: auto;
    display: none;
    position: absolute;
    top: 23vh;
}
.jth-icon,.comm-icon1,.teach-icon,.health-icon,.jibs-icon {
    width: 5vw;
}
.comm-icon2 {
    width: 3vw;
    top: 29vh;

}
.qult-icon {
    width: 12vw;

}

@keyframes rotateanimation {
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}
@keyframes fadeinanimation {
    from {opacity: 0;}
    to {opacity: 100;}
}
@keyframes jibsanimation {
    from {top: 18vh;}
    to {top: 23vh;}
}
@keyframes qultanimation {
    from {
        margin-right: 20vw;
    }
    to {
        margin-right: 0;
    }
}

.stage {
    /* gradient made with https://cssgradient.io */
    background: linear-gradient(90deg, rgba(77,77,77,1) 0%, rgba(32,32,32,1) 35%, rgba(32,32,32,1) 65%, rgba(77,77,77,1) 100%);
    opacity: 70%;

    width: 8vw;
    height: 5vh;
    border-radius: 50%;
    margin-top: -2vh;
    filter: blur(5px);
}

.character-name {
    position: absolute;
    bottom: 8vh;
    left: 38vw;
}

/* only used on the character selection screen */
.right-arm-animation {
    animation-name: rightarmanimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.left-arm-animation {
    animation-name: leftarmanimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes rightarmanimation {
    50% {transform: rotate(16deg);}
    100% {transform: rotate(10deg);}
}
@keyframes leftarmanimation {
    50% {transform: rotate(-16deg);}
    100% {transform: rotate(-10deg);}
}