.screen-container {
    background-color: rgb(171, 171, 171);
    width: 100vw;
    height: 100vh;
    contain: content;
}

.game-container {
    background-color: aqua;
    height: 100vh;
    width: 70vw;
    position: absolute;
    left: 15vw;
    contain: content;
}

.systemet-logo {
    width: 15vw;
    height: auto;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%,0);
}

.systemet-div {
    width: 6vw;
    height: auto;
    position: absolute;
    bottom: 0vh;
    display: flex;
    z-index: 2;
}

.systemet-bag {
    width: 6vw;
    position: absolute;
    bottom: 5vh;
    z-index: 1;
}

.systemet-hide {
    background-color: aqua;
    width: 6vw;
    height: 10vh;
    z-index: 0;
}

.drink {
    width: 2.5vw;
    height: auto;
    position: absolute;
    top: 0;
}

.life-container {
    width: 14vw;
    height: auto;
    contain: content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1vw;
    margin-top: 3vh;
    margin-left: 53vw;
}

.life {
    width: 4vw;
    height: auto;
}

.number-of-beers {
    margin-top: 1vw;
    margin-left: 53vw;
    font-size: 1.2vw;
    font-weight: bold;
}