.screen-container {
    background-color: gray;
}
.alcamo-sign {
    left: 2vw;
    top: 55vh;
}
.systemet-building {
    width: 100vw;
    height: fit-content;
    contain: content;
}
.systemet-door {
    width: 17vw;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
}
.bike-stand {
    width: 35vw;
    height: auto;
    position: absolute;
    right: 5vw;
}
.systemet-image {
    max-width: 100%;
}