.screen-container {
    background-color: rgb(142, 142, 142);
}

.alcamobuilding {
    width: 100vw;
    height: 70%;
    position: fixed;
}

.schooltree {
    width: 12vw;
    height: auto;
    position: absolute;
    top: 40%;
    left: 75%;
}

.benchhori {
    width: 20vw;
    height: auto;
    position: absolute;
    margin-top: 25%;
    margin-left: 60%;
}

.benchhori2 {
    width: 20vw;
    height: auto;
    position: absolute;
    margin-top: 25%;
    margin-left: 13%;
}