.screen-container {
    background-color: gray;
}

.aka-building-container {
    height: fit-content;
    contain: content;
    position: absolute;
    top: 0;
    left: 0;
}
#westcoastAka {
    width: 100vw;
}
#exclamationPoint {
    width: 4vmin;
    margin-bottom: 1vmin;
    visibility: hidden;
}
.exclamation-animation {
    animation-name: exclamation-delay;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
#westcoastStudent {
    width: fit-content;
    height: fit-content;
    contain: content;
    position: absolute;
    left: 70vmin;
    top: 45vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.westcoast-student-animation {
    animation-name: westcoast-ani;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#westcoastStudentImg {
    width: 11vmin;
}

@keyframes westcoast-ani {
    from {
        left: 70vmin;
    } to {
        left: 125vmin;
    }
}
@keyframes exclamation-delay {
    from {
        visibility: hidden;
    } to {
        visibility: visible;
    }
}