.screen-container {
    background-color: gray;
}

.frejs-house {
    contain: content;
    width: fit-content;
    height: fit-content;
}
#frejsHouseImg {
    max-width: 100%;
}   
#frejsDoor {
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}